[submodule ".config/zsh/zinit/bin"]
	path = .config/zsh/zinit/bin
	url = https://github.com/zdharma-continuum/zinit
[submodule ".config/emacs"]
	path = .config/emacs
	url = git@github.com:azchin/emacs.git
