[submodule "scripts/scripts/bash-insulter"]
	path = scripts/scripts/bash-insulter
	url = git@github.com:hkbakke/bash-insulter.git
[submodule "zsh/zsh-syntax-hightlighting"]
	path = zsh/zsh-syntax-hightlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
