.config/X11/Xresources
.config/gtk-3.0/settings.ini
.config/aliases
.config/profile
.config/zsh/zinit

projects/*
clone/*
sandbox/*
vm/*
Downloads/*
Videos/*
.local/share/nvim/undo/*
.local/share/nvim/swap/*
!projects/.gitkeep
!projects/dotfiles.git
!clone/.gitkeep
!sandbox/.gitkeep
!vm/README.md
!Downloads/.gitkeep
!Videos/.gitkeep
!.local/share/nvim/undo/.gitkeep
!.local/share/nvim/swap/.gitkeep
