[user]
	email = achin34@gatech.edu
	name = Andrew Chin
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[rebase]
	autoStash = true
