configuration {
    modes: "window,run,ssh,drun";
    show-icons: false; // instead pass through command line
    dpi: 0; // auto-detect based on X
    terminal: "alacritty";
    ssh-client: "ssh";
    disable-history: true;
    sort: false;
    case-sensitive: false;
    width: 32;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}
@theme "/home/andrew/.config/rofi/onedark.rasi"
